@model KrkaWeb.Models.AccountMailModel
<div class="text-center-box">
    <h1 class="new-text-style">Pozabljeno Geslo</h1>
</div>
@using (Html.BeginForm("ForgotPassword", "AccountAction", FormMethod.Post))
{
    <div class="login-box">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)<br />


        @Html.TextBoxFor(a => a.username_or_email, new { placeholder = "Uporabniško ime ali E-Mail", @class = "new-form-input" })<br />
        @Html.ValidationMessageFor(a => a.username_or_email)<br /><br />
        <input type="submit" class="login-button" value="OK" />

    </div>
}
